{%extends 'main.html'%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
{% block s%}

<table class="table table-striped table-dark">
  <thead>
    <tr>

      <th scope="col">Company name</th>
      <th scope="col"> Designation </th>
      <th scope="col">Start Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        {% for j in search %}

      <td>{{j.company_name}}</td>
      <td><a href="{%url 'job:jobdetail' pk=j.id %}">{{j.job_description}}</a></td>
      <td>{{j.Starting_date}}</td>
    </tr>
      {%endfor%}
  </tbody>
</table>
{%endblock%}
  </body>
</html>
